@using BlazorPablito.Shared
@inject HttpClient http
@inject IRepositorio repositorio
@inject NavigationManager navigationManager

<EditForm Model="@modelo" OnValidSubmit="GuardarDatos">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (modelo.IdGrado != 0)
    {
        <div class="form-group">
            <label>Id Grado</label>
            <input class="form-control" readonly type="number" @bind="modelo.IdGrado" />
        </div>
    }

    <div class="form-group">
        <label>Ingrese Nombre de Grado</label>
        <InputText class="form-check form-control"
                   @bind-Value="modelo.NombreGrado" />
    </div>

    <div class="form-group">
        <label>Ingrese Seccion de Grado</label>
        <InputNumber class="form form-control"
                   @bind-Value="modelo.IdSeccion" />
    </div>
    <input type="submit" value="Guardar" class="btn btn-primary" />
    <NavLink href="/nuevaListaGrado">
        <input type="button" value="Regresar" class="btn btn-danger" />
    </NavLink>
</EditForm>


@code {
    [Parameter]
    public GradoModel modelo { get; set; } = new GradoModel();
    public async Task GuardarDatos()
    {

        var response = await repositorio.Post("api/NuevoGrado/Guardar", modelo);
        if (response.Error)
        {
            var body = await response.HttpResponseMessage.Content.ReadAsStringAsync();
            Console.WriteLine(body);
        }
        else
        {
            navigationManager.NavigateTo("/nuevaListaGrado");
        }

    }




}

