<div class="modal fade" id="dlgEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Desea eliminar registro con Id @id?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public EventCallback<String> eventEliminar { get; set; }
    public void Eliminar()
    {
        eventEliminar.InvokeAsync(id);
    }
}




